In [93]:
num=int(input("take any number"))
num1=int(input("take any number"))
data=num1**num
print(data)

27

In [94]:
lis=[12,13,14,15,7,8]
for i in lis:
    print(i)

12
13
14
15
7
8

In [95]:
list=["Akash","biku"]
print(list[1])

biku

In [96]:
list.append(lis)
print(list)
list.insert(0,lis)
print(list)

['Akash', 'biku', [12, 13, 14, 15, 7, 8]]
[[12, 13, 14, 15, 7, 8], 'Akash', 'biku', [12, 13, 14, 15, 7, 8]]

In [97]:
lis.reverse()
print(lis)

[8, 7, 15, 14, 13, 12]

In [98]:
lis[:]

[8, 7, 15, 14, 13, 12]

In [99]:
lis1 = [2,6,4,10,12]
lis1 = [x for x in lis if x > 5]
print(lis1)

[8, 7, 15, 14, 13, 12]

In [100]:
l=[2,4,6,7,10]
l=[0 if x>5 else x for x in l ]
print(l)

[2, 4, 0, 0, 0]

In [101]:
a=0
for i in l:
    a=a+i
print(a)     
print(a/len(l))

6
1.2

In [102]:
string1="i am akash"
#print(string1)
string1="i am akash pradhan"
print(string1)

i am akash pradhan

In [103]:
string1=string1[:4]+string1[6:]
print(string1)

i amkash pradhan

In [104]:
#SET
s=set([10,19,"Akash"])
s1={"akash",10,12,"biky"}
s.add(34)
s.update({19,30})
print(s)
print(s1)

{34, 19, 'Akash', 10, 30}
{'akash', 10, 'biky', 12}

In [105]:
s.remove(34)
s

{10, 19, 30, 'Akash'}

In [106]:
#dictionary
dict1 = {1: 'Geeks', 2: 'For',3: "akash"}
print(dict1)

{1: 'Geeks', 2: 'For', 3: 'akash'}

In [107]:
dict1.values()

dict_values(['Geeks', 'For', 'akash'])

In [110]:
dict2 = {'banana': 3, 'apple': 1, 'orange': 2, 'grape': 4}

# Sort the dictionary by keys
sorted_dict = dict(sorted(dict2.items()))

print(sorted_dict)

TypeError: 'dict' object is not callable

In [111]:
l1=[12,23]
l2=[34,45]
l3=l1+l2
print(l3)
l3=[0 if x<20 else x for x in l3 if x>20]
print(l3)

[12, 23, 34, 45]
[23, 34, 45]